html, body {
    height: 100%;
    margin: 0;
    background-color: black;
}
.background {
    width: 50%;
    min-height:100%;
    background-color: white;
    -webkit-animation-name: example; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
    animation-name: example;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

@-webkit-keyframes example {
    0%   {width: 100%;}
    100% {width: 50%;}
}

/* Standard syntax */
@keyframes example {
    0%   {width: 100%;}
    100% {width: 50%;}
}
